# --- Version 0.181.14 Required Libraries ---
coqui-tts
gradio
pydub==0.25.1
numpy~=1.26.0
torchcodec==0.8.1
transformers==4.46.3
librosa==0.11.0
soundfile==0.13.1
safetensors==0.5.3
omegaconf==2.3.0
sentencex==0.6.1
resampy==0.4.3
